.about {
    margin-bottom: 120px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img-wrap {
        margin-right: 48px;
    }
    &__img {
        object-fit: cover;
    }
    &__top {
        display: flex;
        margin-bottom: 24px;
    }
    &__info {
        position: relative;
        padding-left: 618px;
        min-height: 676px;
        background-position: top left;
        background-size: 570px 676px;
        background-repeat: no-repeat;
    }
    &__years {
        margin-right: 23px;
        font-weight: 700;
        font-size: 140px;
        line-height: 1;
        color: $main;
    }
    &__descr {
        align-self: flex-end;
        margin-bottom: 14px;
        max-width: 85px;
        line-height: 1.9;
        color: $title;
    }
    &__title {
        margin-bottom: 34px;
        font-family: $dm-sans;
        font-weight: 700;
        font-size: 36px;
        color: $title;
    }
    &__text {
        position: relative;
        margin-bottom: 60px;
        max-width: 550px;
        line-height: 1.9;
        color: $title;
    }
    &__items {
        position: relative;
        display: flex;
        padding-top: 33px;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 90%;
            height: 3px;
            background-color: rgba($grey-600, 0.1);
        }
    }
    &__item {
        &:not(:first-child) {
            padding: 0 30px;
            border-left: 1px solid rgba($grey-600, 0.1);
        }
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        &:first-child {
            padding-right: 25px;
        }
    }
    &__wrap {
        position: relative;
        padding-left: 55px;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 13px;
            width: 44px;
            height: 42px;
            background-repeat: no-repeat;
        }
        &--projects::before {
            background-image: url("#{$img}about/about-1.svg");
        }
        &--revenue::before {
            background-image: url("#{$img}about/about-2.svg");
        }
        &--awards::before {
            background-image: url("#{$img}about/about-3.svg");
        }
    }
    &__counter {
        display: block;
        font-family: $dm-sans;
        font-weight: 700;
        font-size: 36px;
        color: $title;
    }
}