.privilege {
    margin-bottom: 120px;
    padding: 90px 0 80px;
    background-color: $bg;
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        padding-top: 75px;
        width: 25%;
        font-family: $dm-sans;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: $title;
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            width: 80px;
            height: 64px;
            background-position: center bottom;
            background-repeat: no-repeat;
            transform: translateX(-50%);
        }
        &--rate::before {
            background-image: url("#{$img}about/1.svg");
        }
        &--delivered::before {
            background-image: url("#{$img}about/2.svg");
        }
        &--time::before {
            background-image: url("#{$img}about/3.svg");
        }
        &--brands::before {
            background-image: url("#{$img}about/4.svg");
        }
    }
    &__counter {
        display: block;
        margin-bottom: 14px;
        font-size: 36px;
    }
}